<%- include("header"); %> 

<h2>
  This is the about page
</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada diam semper mattis tempus. Sed convallis hendrerit sem pharetra elementum. Integer cursus nulla id dolor sagittis, viverra fringilla ligula ultrices. Integer semper mattis turpis eget tristique. Nam ultricies eu tortor vitae vulputate. Sed feugiat pellentesque vulputate. Suspendisse condimentum est id fermentum dictum. Phasellus turpis ex, cursus vitae elit in, posuere pretium libero. Aliquam erat volutpat. Sed rhoncus, massa quis tempor mollis, urna nulla facilisis nunc, condimentum aliquet lectus nisl congue risus. Duis lacinia vitae risus vestibulum luctus.

</p>

<%- include("footer"); %> 